doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/lib.min.css')
    link(rel='stylesheet', href='/css/app.min.css')
    script(src='/js/lib.min.js')
    script(src='/js/app.min.js')
  body(ng-app='app')
    block content